files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Increase the size of the types_hash to avoid 'could not build optimal types_hash' error
      http {
          types_hash_max_size 1024;
          types_hash_bucket_size 64;
          
          # Default Mime Types
          include       mime.types;
          default_type  application/octet-stream;

      }
